.media.icon-card {
    padding: 6px 10px;
    border-radius: 5px;
    .media-aside {
        border-radius: 5px;
    }

    border: 1px solid #e9e9e9;
    .dark & {
        border: 1px solid #222326;
    }

    .badge {
        cursor: pointer;
        background-color: #00000008 !important;
        .dark & {
            background-color: #00000017 !important;
            &:hover {
                background-color: #14131a !important;
            }
        }
    }

    &.icon-card-primary {
        background-color: rgba($purple,0.05);
        border: 1px solid rgba($purple,0.1);
        svg,h5 {
            color: $purple;
        }
        .badge{
            color:  $purple  !important;
        }
    }

    &.icon-card-success {
        background-color: rgba($green,0.05);
        border: 1px solid rgba($green,0.1);
        svg,h5 {
            color: $green;
        }
        .badge{
            color:  $green  !important;
        }
    }

    &.icon-card-warning {
        background-color: rgba($orange,0.05);
        border: 1px solid rgba($orange,0.1);
        svg,h5 {
            color: $orange;
        }
        .badge{
            color:  $orange  !important;
        }
    }

    &.icon-card-danger {
        background-color: rgba($red,0.05);
        border: 1px solid rgba($red,0.1);
        svg,
        h5 {
            color: $red;
        }
        .badge{
            color:  $red  !important;
        }
    }
}
