$white:white !default;
$black :black !default;
$blue: #7367f0 !default;  
$green: #5db327 !default; 
$orange: #ffd84c !default;  
$red: #ea5455 !default;  
$purple: #7367f0 !default;
$info:#59c1ff !default;
$body-bg: #f3f5f9;
$body-color: #606060;




 
 




