@font-face {
    font-family: "proxima-nova";
    src: url("/font/1.woff") format("woff2"), url("/font/d.woff") format("woff"),
        url("/font/a.opentype") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: "proxima-nova";
    src: url("/font/2.woff") format("woff2"),
         url("/font/dd.woff") format("woff"),
         url("/font/aa.opentype") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "proxima-nova";
    src: url("/font/3.woff2") format("woff2"),
        url("/font/ddd.woff") format("woff"),
        url("/font/aaa.opentype") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

.tk-proxima-nova {
    font-family: "proxima-nova", sans-serif;
}
