.authwrapper {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 8%;
 
    .goto_register {
        color: #686868;
        &:hover {
            color: #5d50dd;
        }
    }

    .goto_login {
        color: #686868;
        &:hover {
            color: #5d50dd;
        }
    }
}
