.media.icon-card {
    padding: 6px 10px;
    border-radius: 5px;
    .media-aside {
        border-radius: 5px;
    }

    border: 1px solid #9e9e9e;

    .badge {
        cursor: pointer;
    }
 
    &.icon-card-primary{
        color: $purple;
        border: 1px solid $purple;
    }

    &.icon-card-success{
        color: $success;
        border: 1px solid $success;
    }

    &.icon-card-warning{
        color: $warning;
        border: 1px solid $warning;
    }

    &.icon-card-danger{
        color: $danger;
        border: 1px solid $danger;
    }
}
